*background:  #251b5d
*cursorColor:  #6153aa
*foreground:  #bcd3f1
*color0:  #584e90
*color1:  #ff1487
*color2:  #cf7a54
*color3:  #ff4754
*color4:  #9c47ba
*color5:  #cf14ba
*color6:  #9c7a87
*color7:  #bcd3f1
*color8:  #8b81c3
*color9:  #ff47ba
*color10:  #ffad87
*color11:  #ff7a87
*color12:  #cf7aed
*color13:  #ff47ed
*color14:  #cfadba
*color15:  #efffff
